* text=auto eol=lf

# Exclude these directories from being exported:
.github/   export-ignore
.vscode/   export-ignore
scripts/   export-ignore
test/      export-ignore

# Exclude these files from being exported:
.editorconfig                   export-ignore
.gitattributes                  export-ignore
.gitignore                      export-ignore
LICENSE                         export-ignore
PSScriptAnalyzerSettings.psd1   export-ignore
