.DS_Store
node_modules
tmp/

# Build output directory
/dist

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# All .vscode files accept launch and settings config
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

tmp/
*.code-workspace
dist/

# Ignore stub destination backup
test/stubs/files-backed-up/
